---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="404" >
   <div class="flex flex-col justify-center justify-items-center text-center m-auto" >
    <h1 class="text-[50px] font-bold">Error, Este pokemon no existe</h1>
    <img src="https://64.media.tumblr.com/tumblr_mau5mnhkH01qcfwqjo1_400.gif" alt="">
    <a href="/" class="hover:bg-slate-600 bg-slate-800 px-2 py-2 ">Regresar</a>
   </div>
</MainLayout>