---
import type {PokemonListResponse} from '../interfaces/pokemon-list'
import PokemonCard from '../components/pokemos/PokemonCard.astro'
import MainLayout from "../layouts/MainLayout.astro"
const title = 'Pokemon Astro'

const resp = await fetch('https://pokeapi.co/api/v2/pokemon/');
const data = (await resp.json()) as PokemonListResponse;
---
<MainLayout title={title}>
	<h1 class="text-5xl text-center m-4 capitalize">Listado Pokemons</h1>
	<hr class="m-8">

	<section arial-label="Listado de Pokemons" class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-5 gap-5 ">
		{data.results.map(({name, url }) =>
			<PokemonCard {name} {url} />)}
		
		</section>
</MainLayout>

